@import url("https://cdn.jsdelivr.net/npm/google-fonts-css2@2.0.0/dist/umd/index.min.js");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  background-color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}
